a:link{
    text-decoration:none;
    color:#000000;
}

a:visited{
    text-decoration:none;
    color:#000000;
}

a:hover{
    text-decoration:none;
    color:#000000;
}

a:active{
    text-decoration:none;
    color:#000000;
}

#page-background{
    margin: 0 0 0 0;
    border-top: 0px;
    background-color: #F8F8FA;
}

#page-head{
    background-image: linear-gradient(#2C8DF2, black);
}

#page-title{
    height: 3%;
    width: 35%;
    background-color: #2D8EF2;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
}

#banner{
    margin: 0 0 0 0;
    border: 0px;
    border-radius: 50px 50px 0 0;
    background-color: #FFFFFF;
}

#banner-image{
    height: 20%;
    width: 90%;
    border: 0 0 0 0;
    border-radius: 30px 30px 30px 30px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#docker{
    width: 100%;
    padding-top: 3%;
    background-color: #FFFFFF;
}

.function{
    width: 25%;
    float: left;
    background-color: #FFFFFF;
    padding-bottom: 3%;
    text-align: center
}

.function-image{
    height: 80px;
    width: 80px;
    display: inline-block;
}

.function-description{
    margin-top: 10%;
    font-size: 250%;
    display: inline-block;
}

#content{
    clear: both;
    margin-top: 23%;
    background-color: #FFFFFF;
    padding-bottom: 10%;
}

#content-title{
    font-size: 300%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#articles{
    list-style: none;
}

.split-line{
    height: 3px;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #F8F8FA;
}

.end-line{
    height: 3px;
    background-color: #F8F8FA;
    margin-bottom: 20%;
}